body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
}

.cover{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(255,255,255,0.6);
    border-radius: 10px;
}

img.bg {
    z-index: -1;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto; 
    position: fixed;
    top: 0;
    left:  0;
}

@media screen and (max-width: 1024px) {
    img.bg {
        left: 50%;
        margin-left: -512px;
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mainlink {
    border-radius: 10px;
    border: none;
    color: lightgrey;
    background-color: rgba(0,0,0,.2);
    text-align: left;
    font-size: 64px;
    font-family: fantasy;
    padding: 16px;
    width: 380px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px;
    text-shadow: 2px 2px #000000;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

    .mainlink:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 14px;
        left: -20px;
        transition: 0.5s;
        color: white;
    }

    .mainlink:hover {
        padding-right: 8px;
        padding-left: 36px;
        text-decoration: none;
        color: white;
    }

        .mainlink:hover:after {
            opacity: 1;
            left: 10px;
        }

.logoff {
    display: none;
}





