@{
    ViewBag.Title = "Home Page";
}

<div class="body">
    @*@if (User.Identity.IsAuthenticated)
    {
        <a href="~/Game/" class="mainlink"><span>My Games</span></a><br />
        <a href="~/GameNight/" class="mainlink"><span>Game Times</span></a><br />
        <a href="~/Gamer/" class="mainlink"><span>Gamers</span></a><br />
        <a href="javascript:document.getElementById('logoutForm').submit()" class="mainlink"><span>Log Off</span></a>
    }

    @if (!User.Identity.IsAuthenticated)
    {
    <a href="~/Account/Login" class="mainlink"><span>Login</span></a><br />
    <a href="~/Account/Register" class="mainlink"><span>Register</span></a>
    }*@
</div>